
<div ng-include="'partials/user/includes/top.html'"></div>
<br><br>

<div class="row">

    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default axle-panel">
            <div class="panel-body">
                <h1>PROFILE</h1>

                <div class="row">
                    <div class="col-md-1 col-md-offset-1">
                        <span class="glyphicon glyphicon-user user-icon" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-8 col-md-offset-1">
                        <form ng-class="form">
                            <div class="form-group">
                                <label for="FirstName">First Name</label>
                                <input type="text" class="form-control" id="FirstName" ng-model="profile.firstName" placeholder="FirstName">
                            </div>
                            <div class="form-group">
                                <label for="LastName">Last Name</label>
                                <input type="text" class="form-control" id="LastName" ng-model="profile.lastName" placeholder="LastName">
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" ng-model="profile.email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="Telephone">Telephone</label>
                                <input type="tel" class="form-control" id="Telephone" ng-model="profile.telephone" placeholder="Telephone">
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <button type="button" ng-click="edit()" class="btn btn-info">Edit</button>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="text-right">
                                        <button type="submit" ng-show="saveBtn" ng-click="save()" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div ng-include="'partials/user/includes/bottom.html'"></div>